
h1{
    color:maroon;
   margin-left:40px;
   }
   
   
    p {
  text-align: center;
  color: red;


}
body{
background-image:url("https://images.jansatta.com/2019/12/new-year-2020-pic-images-620x400.jpg?w=360");
background-repeat:no-repeat;
background-attachment:fixed;
background-attachment:scroll;
border:10px dashed red;
}

























